<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605813972051-9niud7u7b03b5648qmkinhtp2r1tr84d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605813972051-9niud7u7b03b5648qmkinhtp2r1tr84d</string>
	<key>API_KEY</key>
	<string>AIzaSyC3I7Udby7aspJKIHOb-ZPhQMwU4gmpMhk</string>
	<key>GCM_SENDER_ID</key>
	<string>605813972051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.stadtnavi.ludwigsburg</string>
	<key>PROJECT_ID</key>
	<string>stadtnavi-ludwigsburg</string>
	<key>STORAGE_BUCKET</key>
	<string>stadtnavi-ludwigsburg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605813972051:ios:6fbb0f8e8e4e742142faa6</string>
</dict>
</plist>