<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275011808952-rcap9mvaqk8nsl57d1tpgkhaik4u958n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275011808952-rcap9mvaqk8nsl57d1tpgkhaik4u958n</string>
	<key>API_KEY</key>
	<string>AIzaSyCcgFCaVZfg8QbSEBRKTZFYA0jyJ1hbj3o</string>
	<key>GCM_SENDER_ID</key>
	<string>275011808952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.stadtnavi.ludwigsburg.internal</string>
	<key>PROJECT_ID</key>
	<string>stadtnavi-ludwigsburg-internal</string>
	<key>STORAGE_BUCKET</key>
	<string>stadtnavi-ludwigsburg-internal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275011808952:ios:e6927cc919f7e4d23b4e4d</string>
</dict>
</plist>