<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624400633028-i6sg6gb5hbpoqsfquq8h1ehq33gss0h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624400633028-i6sg6gb5hbpoqsfquq8h1ehq33gss0h4</string>
	<key>API_KEY</key>
	<string>AIzaSyAb1vtCqGIgVYMYSgBzTwVp1fGNLL2WbK8</string>
	<key>GCM_SENDER_ID</key>
	<string>624400633028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.stadtnavi.herrenberg.internal</string>
	<key>PROJECT_ID</key>
	<string>stadtnavi-herrenberg-int-dfbbd</string>
	<key>STORAGE_BUCKET</key>
	<string>stadtnavi-herrenberg-int-dfbbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624400633028:ios:40a720ec8dab28a1b50d91</string>
</dict>
</plist>